@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:wght@400;600;700&display=swap");

/* *********************** */
/* GENERAL RULES */
/* *********************** */

:root {
  --main-color: #3a6cf4;
  --main-alt-color: #601cfc;
  color: rgba(0, 0, 0, 0.626);
  --bck: #f0f0f0;
}

body {
  transition: 0.33s;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.title {
  position: relative;
  border: 2px solid var(--main-color);
  width: fit-content;
  padding: 0.5rem;
  color: var(--main-color);
  margin: 0 auto 4.875rem;
  font-size: 2.2rem;
  font-weight: 800;
  transition: 0.6s;
}

.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.3s;
  z-index: 101;
}

.title:hover::before {
  animation: left 0.6s linear forwards;
  z-index: -1;
}

.title:hover::after {
  animation: right 0.6s linear forwards;
  z-index: -1;
}

/* ********************** */
/* CREATING ANIMATIONS */
/* ********************** */

@keyframes left {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    width: 50.5%;
    height: 105%;
    /* z-index: -1; */
    border-radius: 0;
  }
}

@keyframes right {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    width: 50.5%;
    height: 105%;
    /* z-index: -1; */
    border-radius: 0;
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/* ********************** */
/* NAV BAR */
/* ********************** */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  transition: 1s;
  background-color: #0c0c0c;
  overflow: hidden;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}
.scroller {
  height: 3px;
  width: 0;
  background-color: var(--main-alt-color);
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
}

/* ////////////////////////// */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  position: fixed;
  z-index: 999;
  background-color: #f0f0f0;
  width: 100%;
  transition: 0.3s;
  color: rgb(28, 23, 23);
  -webkit-box-shadow: -1px 9px 4px -6px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -1px 9px 4px -6px rgba(0, 0, 0, 0.68);
  box-shadow: -1px 9px 4px -6px rgba(0, 0, 0, 0.68);
}

.nav-toggle {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  right: 30.125rem;
  top: 18px;
  margin-right: 4rem;
}

header .container .nav-toggle i {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--main-color);
}

header .container .nav-toggle i:first-child,
header .container .nav-toggle i:last-child {
  display: none;
}

header .container .modeIcon i {
  font-size: 1rem;
  /* display: none; */
  color: var(--main-color);
  transition: 0.3s ease;
  cursor: pointer;
}

header .container .modeIcon i:not(:first-child) {
  display: none;
}

.logo {
  text-decoration: none;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

.nav-links {
  height: auto;
  display: flex;
  transition: 0.3s;
  overflow: hidden;
}
.nav-links a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 1.875rem;
}

.nav-links a:hover {
  color: var(--main-alt-color);
}

/* ****************** */
/* MAIN */
/* ****************** */

.main {
  padding-bottom: 6.25rem;
}

.main .container {
  width: 100%;
  min-height: 100vh;
  background: url(../img/laptop_keys_code_211625_300x240.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  /* background: rgb(11, 1, 20); */
}

.main .container .main-text {
  padding-top: 10rem;
}

.main h2 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 3rem;
  font-weight: 600;
}

.main h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.buttons {
  margin-top: 5.5rem;
  display: flex;
  gap: 1rem;
  /* align-items: center; */
}
.main-btn {
  /* display: block; */
  color: #fff;
  background-color: var(--main-color);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  width: fit-content;
  /* max-width: 21rem; */
  text-align: center;
  min-width: 10rem;
  display: inline-block;
  padding: 0.9375rem 2.1875rem;
  letter-spacing: 1px;
  border-radius: 12px;

  transition: 0.7s ease;
  /* margin-right: 2rem; */
}

.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
}
.main .social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.social-icons a {
  color: #fff;
  font-size: 1.75rem;
}

/* **************************
/* ABOUT */
/* *************************** */
.about {
  padding-bottom: 6.25rem;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .title {
  margin-bottom: 4.875rem;
}
.about .container .holder {
  max-width: 40rem;
  flex: 2;
  margin-right: 1.5rem;
}
.about .container .holder p {
  line-height: 1.5;
  font-size: 1.5rem;
}
.about .container .holder a {
  text-decoration: none;
  padding: 0.5rem;
}
.about .container .image-holder {
  /* width: 100%; */
  flex: 1;
  display: flex;
  justify-content: end;
}
.about .container .image-holder img {
  /* width: 100%; */
  border-radius: 8px;
  max-height: 20rem;
}

/* ****************** */
/* SERVICE */
/* ****************** */

.services {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  position: relative;
  background-color: var(--bck);
  /* background-image: url(../bck.jpg); */
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.services::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  /* z-index: -1; */
}
.services .title {
  margin-bottom: 4.875rem;
}

.services .title:hover {
  border-color: var(--bck);
}

.services .container h2 {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  z-index: 10;
  position: relative;
  line-height: 1.5;
}

.services .container h3 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 10;
  position: relative;
}
.services .container ul li {
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-transform: capitalize;
  z-index: 10;
  position: relative;
}
.services .container ul li:not(:last-child) {
  margin-bottom: 1.3rem;
}
/* **************** */
/* EXPERIENCE */
/* **************** */
.experience {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  /* background-color: var(--bck); */
}
.experience .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.experience .container .languages-holder {
  flex: 2;
}
.experience .container .languages-holder h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.experience .container .languages {
  border-radius: 8px;
  padding: 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}
.experience .container .languages > div {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  /* font-weight: 700; */
}
.experience .container .languages > div p {
  font-weight: 700;
}
.experience h2 {
  /* margin-left: 7rem; */
}
.experience .container .languages > div i,
.experience .container .languages .c .c-lan,
.experience .container .languages > div:last-of-type iconify-icon {
  background-color: var(--bck);
  font-size: 5rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: 0.5s ease;
}
.experience .container .languages > div:first-of-type iconyfy-icon {
  background-color: #ececec;
}
.experience .container .languages > div:nth-of-type(2) i {
  color: #ff210f;
}
.experience .container .languages > div:nth-of-type(3) i {
  color: white;
  background-color: #ff210f;
}
.experience .container .languages > div:nth-of-type(4) i {
  color: #fff;
  background-color: #379ad6;
}
.experience .container .languages > div:last-of-type iconify-icon {
  /* color: #f0db4f; */
  position: relative;
  background-color: #ececec;
}

.experience .container .languages > div > a {
  text-decoration: none;
  background-color: #ececec;
  padding: 8px 12px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
}
.experience .container .languages > div > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #d7ccbe;
  transition: 0.3s;
  z-index: -12;
  opacity: 0.5;
}
.experience .container .languages > div > a:hover::before {
  width: 100%;
}
.experience .container .skills-holder {
  flex: 1;
}
.experience .container .skills-holder h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.experience .container .skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.experience .container .skills > div {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bck);
  padding: 1rem 1rem;
  border-radius: 8px;
  min-width: 20rem;
  text-align: center;
}
.experience .container .skills > div > p {
  font-weight: 700;
}
.experience .container .skills > div iconify-icon {
  background-color: #d9daef;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  transition: 0.5s ease;
  color: var(--main-color);
}
.experience .container .skills .prSolving span {
  font-weight: 700;
}
.experience .container .skills > div a {
  text-decoration: none;
  background-color: #d9daef;
  padding: 8px 12px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  color: inherit;
}
.experience .container .skills > div a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #cccae5;
  transition: 0.3s;
  z-index: -12;
  opacity: 0.5;
}
.experience .container .skills > div a:hover::before {
  width: 100%;
}
.experience .container .tools-holder {
  flex: 1;
}
.experience .container .tools-holder h2 {
  text-align: center;
  margin-bottom: 3rem;
}
.experience .container .tools {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.experience .container .tools > div {
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 1rem;
  justify-content: center;
  /* margin-bottom: 2rem; */
}
.experience .container .tools > div > iconify-icon {
  font-size: 3rem;
  color: var(--main-alt-color);
}

/* *************** */
/* PROJECTS */
/* *************** */

.projects {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-color: var(--bck);
  transition: 0.3s ease;
}

.projects .hidden {
  display: none;
}

/* **************** */

.projects .projectMenu {
  display: none;
}

.projects .projectMenuItem {
  display: block;
}

.projects .projectMenuItem .project-card {
  background-color: #fff;
  border: 1px solid #fff;
  height: 20rem;
  width: 28%;
  overflow: hidden;
  border-radius: 12px;
  /* margin: 1.25rem auto; */
  transition: 0.7s ease;
  position: relative;
  margin: 2rem auto;
}
.projects .container .project-card:hover {
  transform: scale(1.1);
}

.projects .projectMenuItem .project-card .project-image img {
  max-width: 100%;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details-demo,
.more-details {
  text-decoration: none;
  color: var(--main-color);
}

.more-details:hover,
.more-details-demo:hover {
  color: var(--main-alt-color);
}

/* ************************ */

.projects .projectIcons {
  display: flex;
  align-items: center;
}

.projectMenu {
  position: relative;
}

.projects .buttonProjects {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  color: #3a82f6;
  font-size: 2rem;
  outline: none;
  border: none;
  margin: 0 auto;
}

.projects .buttonProjects:first-child {
  left: 70%;
}

.projects .buttonProjects:last-child {
  right: 70%;
}

.projects .buttonProjects i:hover {
  color: var(--main-alt-color);
}

/* ****************** */

.display {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  width: fit-content;
  margin: 0 auto 0.75rem;
  cursor: pointer;
  transition: 0.3s;
  color: var(--main-color);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.display:hover {
  color: var(--main-alt-color);
}

.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.875rem;
  transition: 0.3 ease;
  /* display: none; */
}

.projects .containerII {
  display: none;
}

.projects .container .project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 12rem;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  /* margin: 1.25rem auto; */
  transition: 0.7s ease;
  margin-left: auto;
  margin-right: auto;
}

.project-image {
  position: relative;
}

.project-image::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(254, 254, 254, 0.213);
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-image:hover::before {
  animation: flashing 0.5s linear;
}

.projects .container .project-card .project-image img {
  max-width: 100%;
}

.project-info {
  padding: 0.69rem;
}

.project-category {
  font-size: 0.8rem;
  color: #000;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details-demo {
  text-decoration: none;
  color: var(--main-color);
}

.more-details:hover {
  color: var(--main-alt-color);
}

/* *************** */
/* CONTACT */
/* *************** */

.contact {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

/* Form */

.contact .container .form {
  background-color: var(--main-alt-color);
  border: none;
  outline: none;
  padding: 2rem 1rem 2rem 9rem;
  margin: 0px auto;
  width: 32rem;
  border-radius: 7px;
  position: relative;
  height: 35rem;
}
.contact .container .form .myInfo {
  position: absolute;
  background-color: var(--main-color);
  height: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: 33rem;
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact .container .form .myInfo > div > p {
  text-align: start;
  font-size: 12px;
  color: inherit;
  font-weight: 700;
  color: var(--bck);
  margin-bottom: 2rem;
  min-width: 3rem;
}
.contact .container .form .formInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  flex-direction: column;
}
.contact .container .form .myInfo > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: center; */
}

.contact h2 {
  text-align: center;
  margin-bottom: 0.875rem;
}

.contact .caption {
  text-align: center;
  margin-bottom: 7rem;
}

.contact .container form input:not(:last-child) {
  display: block;
  padding: 1rem;
  width: 90%;
  border: none;
  outline: none;
  cursor: text;
}

.contact .container form input:last-child {
  background: white;
  cursor: pointer;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  transition: 0.5s ease;
  font-weight: 700;
}
.contact .container form input:last-child:hover {
  background: var(--bck);
}

.contact .container form input:not(:last-child):focus {
  background-color: white;
}

.contact .container form textarea {
  display: block;
  padding: 1rem;
  width: 24rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  cursor: text;
  width: 90%;
  height: 12rem;
}

/* ******************* */
/* FOOTER */
/* ******************* */

.footer .container {
  background-color: #000016;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #3a6cf4;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
