@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:wght@400;600;700&display=swap");
/* *********************** */
/* GENERAL RULES */
/* *********************** */
:root {
  --main-color: #3a6cf4;
  --main-alt-color: #601cfc;
  color: rgba(0, 0, 0, 0.626);
}
body {
  transition: 0.3s;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.title {
  position: relative;
  border: 2px solid var(--main-color);
  width: fit-content;
  padding: 0.5rem;
  color: var(--main-color);
  margin: 0 auto 7.875rem;
  font-size: 2.2rem;
  font-weight: 800;
  transition: 0.6s;
}
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.3s;
  z-index: 101;
}
.title:hover::before {
  animation: left 0.6s linear forwards;
  z-index: -1;
}
.title:hover::after {
  animation: right 0.6s linear forwards;
  z-index: -1;
}
/* ********************** */
/* CREATING ANIMATIONS */
/* ********************** */
@keyframes left {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    width: 50.5%;
    height: 100%;
    /* z-index: -1; */
    border-radius: 0;
  }
}
@keyframes right {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    width: 50.5%;
    height: 100%;
    /* z-index: -1; */
    border-radius: 0;
  }
}
/* ********************** */
/* NAV BAR */
/* ********************** */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  position: fixed;
  z-index: 11;
  background-color: #f0f0f0;
  width: 100%;
  transition: 0.3s;
  color: rgb(28, 23, 23);
}
.modeIcon {
  position: absolute;
  right: 21.125rem;
}
header .container .modeIcon i {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--main-color);
}
header .container .modeIcon i:last-of-type {
  display: none;
}

.menu-icon {
  height: 2rem;
  width: 2rem;
  display: none;
  color: var(--main-color);
}

.logo {
  text-decoration: none;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

.navigation ul li {
  list-style: none;
}
.navigation ul {
  display: flex;
}
.navigation a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 1.875rem;
}
.navigation a:hover {
  color: var(--main-alt-color);
}
.icon-mobile-nav {
  display: none;
  width: 2rem;
  height: 2rem;
  color: var(--main-alt-color);
  background-color: #eeeaf9;
}

/* ****************** */
/* MAIN */
/* ****************** */
.main {
  /* padding-top: 6.25rem; */
  padding-bottom: 6.25rem;
}
.main .container {
  width: 100%;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  transform: translateY(50%); */
  background: url(../img/laptop_keys_code_211625_300x240.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.main .container .main-text {
  padding-top: 10rem;
}
.main h2 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}
.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 3rem;
  font-weight: 600;
}
.main h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.internship {
  color: #fff;
  font-size: 0.8rem;
  max-width: 15rem;
  line-height: 2;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375rem 2.1875rem;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
}
.social-icons a {
  color: #fff;
  font-size: 1.7rem;
  padding-right: 30px;
}

/* ****************** */
/* SERVICE */
/* ****************** */
.services {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.875rem;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* width: 70rem; */
}
.services .container .card {
  width: 80%;
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px rgba(1 1 1 / 35%);
  border-radius: 12px;
  padding: 1.5625rem;
  /* margin: 0.9375rem; */
  transition: 0.3s ease;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.services .container .card:hover {
  transform: translateY(-10px);
}
.services .container .card .info {
  text-align: center;
}

.info h3 {
  color: #3a6cf4;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
}
.info p {
  font-size: 0.95rem;
  line-height: 1.5;
}
.info .contIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
.card .info i {
  font-size: 4.3rem;
  font-weight: bold;
  margin-right: 1.25rem;
  display: inline-block;
}
iconify-icon {
  font-size: 4.3rem;
  font-weight: bold;
  margin-right: 1.25rem;
  display: inline-block;
  color: #764abc;
}
iconify-icon:last-of-type {
  margin-right: 0;
}
.fa-react {
  color: #61dafb;
}

.fa-html5 {
  color: red;
}
.fa-css3-alt {
  color: blue;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.fa-node-js {
  color: #539e43;
}
.card .info i:nth-of-type(3) {
  color: rgb(247, 223, 30);
  margin-right: 0;
}

/* *************** */
/* PROJECTS */
/* *************** */
.projects {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-color: #ececec;
  transition: 0.3s ease;
}

.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.875rem;
}

.projects .container .project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 12rem;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  /* margin: 1.25rem auto; */
  transition: 0.7s ease;
  margin-left: auto;
  margin-right: auto;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-card:hover .project-image {
  opacity: 0.8;
}
.projects .container .project-card .project-image img {
  max-width: 100%;
}
.project-info {
  padding: 0.69rem;
}
.project-category {
  font-size: 0.8rem;
  color: #000;
}
.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}
.more-details {
  text-decoration: none;
  color: var(--main-color);
}
.more-details:hover {
  color: var(--main-alt-color);
}
/* *************** */
/* CONTACT */
/* *************** */
.contact {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.contact .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
.contact .container .card {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px rgba(1 1 1 / 35%);
  border-radius: 12px;
  padding: 1.5625rem;
  /* margin: 0.9375rem; */
  transition: 0.7s ease;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contact .container .card:hover {
  transform: scale(1.1);
}
.contact .icon {
  font-size: 4.5em;
  color: var(--main-color);
}

.contact .info h3 {
  color: #000;
}

.contact .info p {
  font-size: 1em;
}
/* ******************* */
/* FOOTER */
/* ******************* */
.footer .container {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #3a6cf4;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
